body {
  background-color: #ffff;
  font-size: 16px;
  font-weight: 400;
  color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-section .container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-right: 237px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 22px;
}

.header-list-navigation {
  display: flex;
  gap: 30px;
  margin-top: 26px;
}

.header-item-specyfical {
  line-height: 1.75;
}

.header-item-specyfical.current {
  font-weight: 600;
}

.header-list-sign {
  display: flex;
  gap: 21px;
  margin-top: 19px;
}

.header-item-signin {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  font-weight: 600;
  text-align: center;
  color: #173a56;
  padding-top: 9px;
  margin-left: 73px;
}

.header-item-signup {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding-top: 9px;
}

.hero-section {
  padding-top: 112px;
  max-width: 1440px;
}

.hero-section .container {
  display: flex;
  align-items: flex-start;
}

.hero-container-text {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  width: 465px;
  margin-bottom: 18px;
}

.hero-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  width: 465px;
  margin-bottom: 45px;
}

.hero-button {
  display: flex;
  gap: 30px;
  align-items: center;
  cursor: pointer;
}

.hero-button-start {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hero-container-button {
  display: flex;
  align-items: center;
}

.hero-icon-play {
  padding-right: 2px;
  fill: #02897a;
}

.hero-button-video {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  width: 164px;
  height: 23px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.hero-img {
  width: 610px;
  height: 555px;
  margin-left: 35px;
  position: relative;
  top: -100px;
}

.feature-section {
  padding-top: 100px;
  padding-bottom: 50px;
}

.feature-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 539px;
  text-align: center;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  width: calc((100% - 3 * 30px) / 4);
}

.features-container-icon-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #02897a;
}

.features-container-icon-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d8dff;
  border-radius: 19px;
  width: 54px;
  height: 54px;
}

.features-container-icon-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #740a76;
}

.features-container-icon-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #f03e3d;
}

.features-icon {
  fill: #fff;
}

.feature-item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-top: 18px;
  margin-bottom: 13px;
}

.feature-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}

.feature-button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding-top: 18px;
  margin-top: 65px;
  cursor: pointer;
}

.benefits-section {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.benefits-section .container {
  display: flex;
  align-items: flex-start;
}

.benefits-main-list {
  display: flex;
  flex-direction: column;
}

.benefits-main-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits-main-item-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-conteiner-text {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 419px;
  margin-right: 84px;
}

.benefits-conteiner-text-left {
  display: flex;
  flex-direction: column;
  width: 486px;
  margin-left: 84px;
}

.benefits-top-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}

.benefits-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}

.benefits-bottom-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  gap: 31px;
}

.benefits-border-icon-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background: #f90;
}

.benefits-border-icon-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.92px solid #fff;
  border-radius: 14px;
  background: #f03e3d;
  width: 35px;
  height: 35px;
}

.benefits-border-icon-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background: #4d8dff;
}

.benefits-icon {
  fill: #fff;
  width: 17px;
  height: 12px;
}

.benefits-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 12px;
}

.benefits-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 25px;
}

.benefits-text-icon {
  display: block;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  margin-bottom: 25px;
}

.benefits-img {
  width: 540px;
  height: 500px;
}

.process-section {
  padding: 50px 0;
}

.process-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}

.process-top-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 542px;
}

.process-list {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.process-item {
  display: flex;
  align-items: center;
  width: 408px;
}

.process-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  color: #2f281e;
  width: 281px;
  height: 50px;
  margin-left: 19px;
  margin-right: 19px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
}

.process-container-one {
  display: flex;
  gap: 100px;
}

.process-container-two {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 50px;
}

.process-img {
  width: 98px;
  height: 98px;
}

.process-button {
  display: block;
  align-items: center;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background: #02897a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.strategies-section {
  padding: 50px 0;
}

.strategies-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}

.strategies-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  width: 456px;
  margin-bottom: 40px;
}

.strategies-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.strategies-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 8px;
  width: 350px;
  height: 359px;
}

.strategies-item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
}

.strategies-item-text-bold {
  font-weight: 700;
}

.strategies-item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  padding-left: 27px;
}
.strategies-item-title-color {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  padding-left: 27px;
  color: #02897a;
}

.strategies-img {
  width: 350px;
  height: 185px;
}

.price-section {
  padding: 50px 0;
}

.price-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.price-main-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.price-main-list {
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.price-main-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 322px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding-top: 32px;
  position: relative;
}

.price-main-item-color {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 322px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #02897a;
  padding-top: 32px;
}

.price-item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
}

.price-item-title-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #fff;
}

.price-item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  margin-top: 8px;
}

.price-item-text-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #fff;
  margin-top: 8px;
}

.price-0 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 132%;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.price-0-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 132%;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.price-money {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em;
  color: #02897a;
  position: absolute;
}

.price-money-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0em;
  color: #fff;
  position: absolute;
}

.price-month {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.price-month-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  letter-spacing: 0.01em;
  color: #e0e0e0;
}

.price-container {
  margin-top: 16px;
  position: relative;
  margin-bottom: 16px;
}

.price-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.price-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #22343d;
}

.price-item-color {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
  color: #fff;
}

.price-button {
  display: block;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.price-button-color {
  display: block;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.clients-section {
  padding: 50px 0;
}

.clients-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}

.clients-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  width: 537px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.clients-list {
  display: flex;
  gap: 64px;
}

.clients-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 35px;
  width: calc((100% - 128px) / 3);
  position: relative;
}

.clients-rating {
  position: absolute;
}

.clients-item-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
  width: 275px;
  padding-top: 40px;
}

.clients-group {
  display: flex;
  align-items: center;
}

.clients-group-text {
  margin-left: 14px;
}

.clients-img {
  width: 50px;
  height: 50px;
}

.clients-group-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.clients-groups-job {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

.promo-section {
  padding: 50px 0;
}

.promo-container {
  display: flex;

  border-radius: 32px;
  width: 968px;
  height: 345px;
  background: #02897a;
  margin: 0 auto;
}

.promo-container-text {
  display: flex;
  flex-direction: column;
}

.promo-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
  width: 510px;
  padding-top: 49px;
  padding-left: 51px;
  margin-bottom: 46px;
}

.promo-button {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  margin-left: 51px;
}

.promo-img {
  width: 351px;
  height: 331px;
  object-fit: cover;
  padding-top: 20px;
}

.footer-section {
  padding: 50px 0;
  position: relative;
}

.footer-section .container {
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-container-logo {
  display: flex;
  flex-direction: column;

  margin-left: 145px;
}

.footer-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-right: 237px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  margin-top: 18px;
}

.footer-icon-item {
  width: 40px;
  height: 40px;
}

.footer-navigation {
  display: flex;
  gap: 129px;
}

.footer-container-text-one {
  flex-wrap: wrap;
}

.footer-container-text-two {
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}

.footer-navigation-item {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}

.footer-container-form {
  display: flex;
  flex-direction: column;
  width: 325px;
  margin-left: 83px;
}

.footer-top-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}

.footer-form-icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 30px;
  padding-left: 42px;
}

.footer-form-icon::placeholder {
  padding-left: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.footer-form-icon:placeholder-shown {
  padding-left: 42px;
}

.footer-icon-phone {
  fill: #02897a;
  position: absolute;
  top: 150px;
  left: 980px;
}

.footer-button {
  display: block;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  border: none;
  cursor: pointer;
  background: #02897a;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-top: 25px;
}

.footer-bottom-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #22343d;
  text-align: center;
  margin-top: 15px;
}

.pricing-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 32px;
  text-align: center;
}

.pricing-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.pricing-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #22343d;
  margin-bottom: 49px;
}

.enterprise-section {
  padding: 50px 0;
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.enterprise-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  text-align: center;
}

.enterprise-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}

.enterprise-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 32px;
  text-align: center;
}

.enterprise-button {
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
}

.effects-section {
  padding: 50px 0;
}

.effects-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 56px;
  text-align: center;
}

.effects-container {
  display: flex;
  gap: 60px;
}

.effects-img {
  width: 528px;
  height: 392px;
}

.effects-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 543px;
}

.effects-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
  margin-top: 20px;
}

.effects-container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  background: #f4f5f7;
}

.effects-icon {
  width: 24px;
  height: 24px;
}

.effects-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.effects-container-text {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 16px;
}

.question-section {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-section .container {
  width: 920px;
}

.question-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
  text-align: center;
}

.question-main-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #22343d;
  margin-bottom: 50px;
  text-align: center;
}

.question-list {
}

.question-item {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
  padding-bottom: 24px;
  padding-top: 16px;
}

.question-container-icon {
  display: flex;
  align-items: center;
}

.question-icon {
  margin-right: 10px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.question-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #22343d;
}

.question-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
  display: none;
  padding: 10px 0;
  margin-top: 14px;
}

.question-section .question-text {
  display: block;
}

.client-section {
  padding: 100px 0;
}

.client-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.product-section {
  padding: 40px 0;
  background: #f5f5f5;
}

.product-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
}

.product-item {
  border-radius: 10px;
  width: 350px;
}

.product-item {
  width: 350px;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 40px 28px;
}

.product-border-icon-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 19px;
  width: 50px;
  height: 50px;
  background: #02897a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-icon-1 {
  fill: #fff;
  width: 12px;
  height: 18px;
}

.product-border-icon-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 19px;
  width: 50px;
  height: 50px;
  background: #4d8dff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-icon-2 {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.product-border-icon-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 19px;
  width: 50px;
  height: 50px;
  background: #f03e3d;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-icon-3 {
  fill: #fff;
  width: 16px;
  height: 18px;
}

.product-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
  margin-top: 32px;
  margin-bottom: 16px;
}

.product-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.69;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}

.work-section {
  padding: 100px 0;
}

.work-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
  margin-bottom: 73px;
}

.work-item {
  display: flex;
  gap: 89px;
  margin-bottom: 100px;
}

.work-img {
  width: 500px;
  height: 280px;
}

.work-text-step {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #22343d;
  margin-bottom: 16px;
}

.work-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
}

.work-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  width: 438px;
}

.work-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background: #02897a;
  cursor: pointer;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
}

.offers-section {
  padding: 50px 0;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.offers-main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  width: 537px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 93px;
}

.offers-main-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 325px;
}

.offers-main-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.offers-img {
  width: 150px;
  height: 150px;
  margin-bottom: 27px;
}

.offers-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  margin-bottom: 16px;
}

.offers-item {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #22343d;
}

.offers-text {
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
}
